body {
	background: url("http://2.bp.blogspot.com/-9p7SRR9OPvg/TfeebztTkcI/AAAAAAAAiVY/kM18gKwtJ6Y/s1600/SDC12771.JPG") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Gloria Hallelujah', cursive;
	color: yellow;
	height: 100%;
}

section {
	width: 100%;
}

#title {
	padding-top: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	text-align: center;
}

h1 {
	background-color: rgba(0, 0, 0, .8);
	margin:0 -5em;
}

#des {
	width: 60%;
}

#pics {
	background-color: rgba(0, 0, 0, .8);
	display: inline-block;
	text-align: center;
	vertical-align: center;
	margin: 0 -5em;
	padding: 1em 5em;
}

.headpic {
	height: 15em;
	width: 15em;
	box-shadow: 10px 10px 20px black;
	margin-left: 1px;
	margin-right: 1px;
	transition: width .5s;	
}

#headpicLeft:hover, #grill:hover, #bakedmac:hover, #headpicRight:hover {
	width: 17em;
	box-shadow: 5px 5px 20px gray;

}

#instructions {
	clear: left;
	padding-top: 3em;
}

p {
	text-align: center;
	color: red;
	text-shadow: 2px 2px black;
	margin-left: auto;
	margin-right: auto;
}

h2, h3, h4 {
	text-align: center;
}

h3 {
	cursor: pointer;
}

#shop, #prep, #cook {
	display: none;
	background-color: rgba(0, 0, 0, .4);
}

ul li {
	cursor: pointer;
}

#Burgers, #Mac {
	vertical-align: top;
	display: inline-block;
	width: 40%;
	margin: auto;
}

ol {
	width: 95%;
	text-align: left;

}

.hover {
	color: #FF3399;
}

#cookHead {
	clear: left;
}

.clicked {
	opacity: 0.70;
}


table {
	margin-left: auto;
	margin-right: auto;
	border-right: solid yellow;
	border-collapse: collapse;
}

td {
	vertical-align: top;
	padding-right: 50px;
	border-left: solid yellow;
}

.footer {
	height: 5em;
	background-color: black;
	margin-left: -5em;
	margin-right: -5em;
	margin-bottom: -5em;
	max-height: 300px;
	text-align: center;	
	padding-top: 2em;
	color: red;
	cursor: pointer;

}
